//= =======================================================================================
/*                                                                                      *
 * FIGURE: HEART                                                                        *
 *                                                                                      */
//= =======================================================================================

$heart-width: 30px;
$heart-height: 30px;
$heart-right: -17px;
$heart-left: -17px;
.heart {
   position: absolute;
   display: block;
   width: $heart-width;
   height: $heart-height;
   background: #e74c3c;
   border-radius: 0 0 0 0;
   transform: rotate(-45deg);
   animation: pulse 1s infinite;
   margin: auto;
   left: 0;
   right: 0;
   bottom: 50px;
}
.heart::before,
.heart::after {
   position: absolute;
   content: '';
   width: $heart-width;
   height: $heart-height;
   background: #e74c3c;
   border-radius: 50%;
}
.heart::before {
   top: $heart-left;
   left: 0;
}
.heart::after {
   top: 0;
   right: $heart-right;
}
@keyframes pulse {
   0%,
   20% {
      transform: rotate(-45deg) scale(1);
   }
   30% {
      transform: rotate(-45deg) scale(1.2);
   }
   50% {
      transform: rotate(-45deg) scale(1);
   }
   60% {
      transform: rotate(-45deg) scale(1.1);
   }
   70%,
   100% {
      transform: rotate(-45deg) scale(1);
   }
}
