// ============== FONT VARIABLES =================

$default-font-size: 10;

// Poppins
$poppins: 'Poppins';
$poppins-light: 'Poppins-Light';
$poppins-regular: 'Poppins-Regular';
$poppins-medium: 'Poppins-Medium';
$poppins-semi-bold: "Poppins-SemiBold";
$poppins-bold: 'Poppins-Bold';
$poppins-bold-italic: 'Poppins-BoldItalic';
$poppins-thin: 'Poppins-Thin';

$poppins-family: $poppins, sans-serif;
$poppins-thin-family: $poppins-thin, sans-serif;
$poppins-light-family: $poppins-light, sans-serif;
$poppins-regular-family: $poppins-regular, sans-serif;
$poppins-medium-family: $poppins-medium, sans-serif;
$poppins-semibold-family: $poppins-semi-bold, sans-serif;
$poppins-bold-family: $poppins-bold, sans-serif;
$poppins-bolditalic-family: $poppins-bold-italic, sans-serif;

// Roboto
$roboto-bold: 'Roboto-Bold';

$roboto-bold-family: $roboto-bold, sans-serif;

// Arial

$arial: arial;
