// ============== COLORS =================

// PRIMARY COLORS
$manatee: #878cad;
$silver: #cbcbcb;
$black: #000;
$gray: #707070;
$light-gray: #c4c7d7;
$lucky-point: #161f60;
$cornflower-blue: #161f60;
$jazzberry-jam: #9f1270;
$cadet-blue: #b5b7c8;
$white: #fff;
$light-black: #00000017;
$athens-gray: #edeef3;

// SECONDARY COLORS
$alabaster: #f7f7f7;

// FONT COLORS
$dark-slate-blue:#172061;
$bluey-grey: #a1a5bf;
$crimson: #ec1b2e;
$tory-blue: #165bae;
$light-pink: #c60d67;

// BUTTONS COLORS
$amaranth: #dd3150;
$dark-magenta: #9b0fa1;
$deep-magenta: #b50ed1;
$medium-violet-red:#c60d67;
$cardinal: #ad1e42;

//FONT COLORS
$dark-slate-blue: #172061;
$bluey-grey:#a1a5bf;

// Gradients
$gray-gradient: rgba(0, 0, 0, 0.69);
$black-transparent: rgba(0, 0, 0, 0.1);
$transparent: rgba(255, 255, 255, 0);
