/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

/* Variables */

$heading-color: white;
$heading-size: 22px;
$heading-weight: 700;
$sub-heading-color: white;
$sub-heading-size: 12px;
$sub-heading-weight: 400;
$heading-style: uppercase;

$wrapper-width: 380px;
$content-width: 185px;
$content-height: 60px;
$content-background: transparent;
$content-radius: 1px;
$content-shadow: false;
$box-shadow: 0px 2px rgba(0, 0, 0, 0.34);

$global-font: 'Montserrat', sans-serif;
$text-color: black;
$text-align: center;
$background: #2a0e22;
$title-width: 320px;
$title-height: 230px;
$background-image: '';

$include-social: true;
$include-made: true;

/* Heart Vars */

$heart-width: 14px;
$heart-height: 24px;
$heart-color: #cb3d3d;
$hr: 45deg;
$hl: $hr - ($hr * 2);

/* Placeholders */

%center {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   margin: auto;
}

%reset {
   margin: 0;
   padding: 0;
}

%fontSmooth {
   -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
   -o-font-smoothing: antialiased;
}

.heart-button {
   width: 100px;
   height: 100px;
   position: relative;
   // input[type='checkbox']:checked {
   //    &.heart-button__checkbox {
   //       .heart-button__favourite {
   //          width: 20px;
   //          transition-delay: 0.2s;
   //          box-shadow: 0px 0px 0px 0px transparent;
   //       }
   //       .heart-button__favourite-heart-left {
   //          width: 6px;
   //          height: 12px;
   //          left: 3px;
   //          top: 0px;
   //          margin-top: 8px;
   //          transition-property: width, height, left, top, margin-top;
   //          transition-duration: 0.2s;
   //          transition-delay: 1.2s;
   //       }
   //       .heart-button__favourite-heart-right {
   //          width: 6px;
   //          transition-property: width, height, left, margin-top;
   //          transition-duration: 0.2s;
   //          transition-delay: 1.2s;
   //          height: 17px;
   //          left: 10px;
   //          margin-top: 4px;
   //       }
   //       .heart-button__favourite-text {
   //          top: 7px;
   //          opacity: 0;
   //          transition-property: top, opacity;
   //          transition-duration: 0.3s;
   //          transition-delay: 0s;
   //       }
   //    }
   // }
   &__checkbox {
      display: none;
      // &:checked {
      //    .heart-button__favourite {
      //       width: 20px;
      //       transition-delay: 0.2s;
      //       box-shadow: 0px 0px 0px 0px transparent;
      //    }
      //    .heart-button__favourite-heart-left {
      //       width: 6px;
      //       height: 12px;
      //       left: 3px;
      //       top: 0px;
      //       margin-top: 8px;
      //       transition-property: width, height, left, top, margin-top;
      //       transition-duration: 0.2s;
      //       transition-delay: 1.2s;
      //    }
      //    .heart-button__favourite-heart-right {
      //       width: 6px;
      //       transition-property: width, height, left, margin-top;
      //       transition-duration: 0.2s;
      //       transition-delay: 1.2s;
      //       height: 17px;
      //       left: 10px;
      //       margin-top: 4px;
      //    }
      //    .heart-button__favourite-text {
      //       top: 7px;
      //       opacity: 0;
      //       transition-property: top, opacity;
      //       transition-duration: 0.3s;
      //       transition-delay: 0s;
      //    }
      // }
   }
   &__favourite {
      border-radius: 100px;
      width: 20px;
      overflow: hidden;
      height: 20px;
      cursor: pointer;
      @extend %center;
      -webkit-animation: pop 0.6s;
      padding: 20px;
      box-shadow: 0px 0px 0px 3px white;
      color: white;
      transition: 0.2s width, 0.2s transform ease-in;
      &:hover {
         width: 160px;
         box-shadow: 0px 0px 0px 3px white;
         transform: translateX(-25%);
         .heart-button__favourite-heart-left {
            transform: scale(1.1) rotate(-45deg);
            transition-property: transform;
            transition-duration: 0.1s;
         }
         .heart-button__favourite-text {
            top: 1px;
            opacity: 1;
            transition-property: top, opacity;
            transition-duration: 0.3s;
            transition-delay: 0.3s;
         }
         .heart-button__favourite-heart-right {
            transform: scale(1.1) rotate(45deg);
            transition-property: transform;
            transition-duration: 0.1s;
         }
      }
   }
   &__favourite-text {
      margin-left: 33px;
      top: 7px;
      opacity: 0;
      position: relative;
   }
   &__text-span {
      color: white;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 12px;
   }
   &__favourite-heart {
      position: absolute;
      top: 19px;
      left: 20px;
      margin-right: 10px;
   }
   .heart-button__favourite-heart-left {
      background: $heart-color;
      width: $heart-width;
      height: $heart-height;
      transform: rotate($hl);
      position: absolute;
      left: 0px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
   }
   .heart-button__favourite-heart-right {
      background: $heart-color;
      width: $heart-width;
      height: $heart-height;
      transform: rotate($hr);
      position: absolute;
      left: 8px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
   }
   @keyframes pop {
      0% {
         transform: scale(0);
      }
      50% {
         transform: scale(1.05);
      }
      100% {
         transform: scale(1);
      }
   }

   @keyframes heartbeat_l {
      0% {
         transform: scale(1.1);
         transform: rotate(-45deg);
      }
      50% {
         transform: scale(0.7);
         transform: rotate(-45deg);
      }
      100% {
         transform: scale(1.1);
         transform: rotate(-45deg);
      }
   }
}
