// =========== GENERICS FONTS ==============

@font-face {
  font-family: 'Poppins-Bold';
  font-weight: 700;
  src: url('../../assets/fonts/Poppins-Bold.eot');
  src: url('../../assets/fonts/Poppins-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Poppins-Bold.woff') format('woff'),
    url('../../assets/fonts/Poppins-Bold.ttf') format('truetype'),
    url('../../assets/fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  font-weight: 700;
  src: url('../../assets/fonts/Poppins-BoldItalic.eot');
  src: url('../../assets/fonts/Poppins-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Poppins-BoldItalic.woff') format('woff'),
    url('../../assets/fonts/Poppins-BoldItalic.ttf') format('truetype'),
    url('../../assets/fonts/Poppins-BoldItalic.svg#Poppins-BoldItalic')
      format('svg');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../../assets/fonts/Poppins-Light.eot');
  src: url('../../assets/fonts/Poppins-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Poppins-Light.woff') format('woff'),
    url('../../assets/fonts/Poppins-Light.ttf') format('truetype'),
    url('../../assets/fonts/Poppins-Light.svg#Poppins-Light') format('svg');
}

@font-face {
  font-family: 'Poppins-Medium';
  font-weight: 500;
  src: url('../../assets/fonts/Poppins-Medium.eot');
  src: url('../../assets/fonts/Poppins-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Poppins-Medium.woff') format('woff'),
    url('../../assets/fonts/Poppins-Medium.ttf') format('truetype'),
    url('../../assets/fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
}

@font-face {
  font-family: 'Poppins-Regular';
  font-weight: 400;
  src: url('../../assets/fonts/Poppins-Regular.eot');
  src: url('../../assets/fonts/Poppins-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Poppins-Regular.woff') format('woff'),
    url('../../assets/fonts/Poppins-Regular.ttf') format('truetype'),
    url('../../assets/fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('../../assets/fonts/Poppins-Thin.eot');
  src: url('../../assets/fonts/Poppins-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Poppins-Thin.woff') format('woff'),
    url('../../assets/fonts/Poppins-Thin.ttf') format('truetype'),
    url('../../assets/fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../assets/fonts/Roboto-Bold.eot');
  src: url('../../assets/fonts/Roboto-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Roboto-Bold.woff') format('woff'),
    url('../../assets/fonts/Roboto-Bold.ttf') format('truetype'),
    url('../../assets/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
}
